### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc
/SW/fileheader.py

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

.vscode/
# Created by .ignore support plugin (hsz.mobi)
Documentation/Re_ Method to Identify and Score Darts....eml
SW/DartScoreEngine/Vision/test.py
/Docs/Re_ Method to Identify and Score Darts....eml

.idea/

.idea/workspace.xml

# videofiles
*.mp4
Testdata/ddframe0.jpg
Testdata/ddframe1.jpg
Testdata/ddframe10.jpg
Testdata/ddframe11.jpg
Testdata/ddframe12.jpg
Testdata/ddframe13.jpg
Testdata/ddframe14.jpg
Testdata/ddframe15.jpg
Testdata/ddframe16.jpg
Testdata/ddframe17.jpg
Testdata/ddframe18.jpg
Testdata/ddframe19.jpg
Testdata/ddframe2.jpg
Testdata/ddframe20.jpg
Testdata/ddframe21.jpg
Testdata/ddframe22.jpg
Testdata/ddframe23.jpg
Testdata/ddframe24.jpg
Testdata/ddframe25.jpg
Testdata/ddframe26.jpg
Testdata/ddframe27.jpg
Testdata/ddframe28.jpg
Testdata/ddframe29.jpg
Testdata/ddframe3.jpg
Testdata/ddframe30.jpg
Testdata/ddframe31.jpg
Testdata/ddframe32.jpg
Testdata/ddframe33.jpg
Testdata/ddframe34.jpg
Testdata/ddframe35.jpg
Testdata/ddframe36.jpg
Testdata/ddframe37.jpg
Testdata/ddframe38.jpg
Testdata/ddframe39.jpg
Testdata/ddframe4.jpg
Testdata/ddframe40.jpg
Testdata/ddframe41.jpg
Testdata/ddframe42.jpg
Testdata/ddframe43.jpg
Testdata/ddframe44.jpg
Testdata/ddframe45.jpg
Testdata/ddframe46.jpg
Testdata/ddframe47.jpg
Testdata/ddframe48.jpg
Testdata/ddframe49.jpg
Testdata/ddframe5.jpg
Testdata/ddframe50.jpg
Testdata/ddframe51.jpg
Testdata/ddframe52.jpg
Testdata/ddframe53.jpg
Testdata/ddframe54.jpg
Testdata/ddframe55.jpg
Testdata/ddframe56.jpg
Testdata/ddframe57.jpg
Testdata/ddframe58.jpg
Testdata/ddframe59.jpg
Testdata/ddframe6.jpg
Testdata/ddframe60.jpg
Testdata/ddframe61.jpg
Testdata/ddframe62.jpg
Testdata/ddframe63.jpg
Testdata/ddframe64.jpg
Testdata/ddframe65.jpg
Testdata/ddframe66.jpg
Testdata/ddframe67.jpg
Testdata/ddframe68.jpg
Testdata/ddframe69.jpg
Testdata/ddframe7.jpg
Testdata/ddframe70.jpg
Testdata/ddframe71.jpg
Testdata/ddframe72.jpg
Testdata/ddframe73.jpg
Testdata/ddframe74.jpg
Testdata/ddframe75.jpg
Testdata/ddframe76.jpg
Testdata/ddframe77.jpg
Testdata/ddframe78.jpg
Testdata/ddframe79.jpg
Testdata/ddframe8.jpg
Testdata/ddframe80.jpg
Testdata/ddframe81.jpg
Testdata/ddframe82.jpg
Testdata/ddframe83.jpg
Testdata/ddframe84.jpg
Testdata/ddframe85.jpg
Testdata/ddframe86.jpg
Testdata/ddframe87.jpg
Testdata/ddframe88.jpg
Testdata/ddframe89.jpg
Testdata/ddframe9.jpg
Testdata/ddframe90.jpg
Testdata/Videos/dartscore_20191222_125926.avi
Testdata/Videos/dartscore_20191222_130006.avi
Testdata/Videos/dartscore_20191222_130118.avi
threading.txt
